{% extends "login.html" %}
{% block content%}
<div >
<h2>Company Name: {{name}}</h2>
<a href="{{url_for('logout')}}" class="btn btn-primary">Log Out</a></div>
<div class="container place">
    <div ><a class=" btn btn-primary button " href="{{url_for('add')}}">ADD</a></div>
    <div><a class="btn btn-primary button" href="{{url_for('move')}}">MAKE MOVEMENT</a></div>
    <div><a class="btn btn-primary button" href="{{url_for('viewp')}}">VIEW PRODUCT</a></div>
    <div><a class="btn btn-primary button" href="{{url_for('viewl')}}">VIEW LOCATION</a></div>
    <div><a class="btn btn-primary button" href="{{url_for('viewm')}}">VIEW MOVEMENT</a></div>
    <div><a class="btn btn-primary button" href="{{url_for('report')}}">Report</a></div>
</div>
{% endblock content %}